a:visited {
    text-decoration: none;
}

.btn-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    border-radius: 99px;
    text-decoration: none;
    transition: background-color;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
}

.btn-primary:hover {
    background-color: rgba(var(--primary-color), 0.9);
}

.icon {

    width: 25px;

}