---
import Title from "@components/common/Title.astro";
import Layout from "@layouts/Layout.astro";
const pageTitle = "Reuniones";
---

<Layout pageTitle={pageTitle}>
    <section class="commun">
        <Title text="Reuniones" />
        <article>
            <p>
                Las reuniones de Popoyote-Dev se realizan cada mes, en donde se
                discuten temas de interés para la comunidad, se realizan
                talleres, se comparten experiencias y se resuelven dudas. Las
                reuniones son abiertas a todo público, por lo que si te interesa
                la programación, la tecnología, o simplemente quieres aprender
                algo nuevo, ¡no dudes en unirte!
            </p>
        </article>
    </section>
</Layout>
