---
import Title from "@components/common/Title.astro";
import Layout from "@layouts/Layout.astro";
const pageTitle = "Reuniones";
const ogDescription = "Alcanance y organización de las reuniones periodicas";
---

<Layout pageTitle={pageTitle} ogTitle={pageTitle} ogDescription={ogDescription}>
    <section class="commun">
        <Title text="Reuniones" />
        <article>
            <p>
                Las reuniones de Popoyote-Dev se realizan cada mes, en donde se
                discuten temas de interés para la comunidad, se realizan
                talleres, se comparten experiencias y se resuelven dudas. Las
                reuniones son abiertas a todo público, por lo que si te interesa
                la programación, la tecnología, o simplemente quieres aprender
                algo nuevo, ¡no dudes en unirte!
            </p>
        </article>
    </section>
    <section class="commun">
        <Title text="Formato de reuniones presenciales" />
        <article>
            <p>
                <h2>Orden del día</h2>
                <h3>Bienvenida</h3>
                <h3>Presentación de charlas</h3>

                <ul class="list-meets">
                    <li>Se presentarán máximo 2 charlas por día.</li>
                    <li>Duración aproximada de 30 minutos.</li>
                    <li>Preguntas 10 minutos.</li>
                </ul>
                <h4>Receso de 15 minutos</h4>
                <h3>Taller</h3>
                <ul class="list-meets">
                    <li>
                        En caso de presentarse un taller se propone una duración
                        máxima de 1 hora
                    </li>
                </ul>
                <h3>Despedida y cierre de sesión</h3>
                <h3>Charla abierta</h3>
                <ul class="list-meets">
                    <li>Duración abierta</li>
                    <li>
                        Los temas a tratar tendrán que ser relacionados con el
                        interés del grupo
                    </li>
                </ul>
            </p>
        </article>
    </section>
</Layout>
