---
import Social from "@components/common/Social.astro";
---

<footer>
    <ul>
        <li>
            <Social platform="twitter" username="astrodotbuild" />
        </li>
        <li>
            <Social platform="github" username="withastro" />
        </li>
        <li>
            <Social platform="youtube" username="astrodotbuild" />
        </li>
    </ul>
</footer>
